<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>放心递登录界面</title>
    <link rel="icon" href="{{ url_for('static', filename='img/theme.png') }}">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='users/css/login.css') }}">
</head>
<body background="{{ url_for('static', filename='img/login_bgp.jpg') }}">
<div id="user_login" class="container">
    <div class="title">
        <p class="line_1">用科技</p>
        <p class="line_2">让生活更美好</p>
    </div>
    <el-card class="login_card">
        <el-form :model="login_form" ref="login_form" class="login_form" label-width="0px" :rules="rules">
            <el-form-item class="header">
                <svg t="1608088953057" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="7787" data-spm-anchor-id="a313x.7781069.0.i3" width="200"
                     height="200">
                    <path d="M512 1024a512 512 0 1 1 512-512 512 512 0 0 1-512 512zM204.8 663.098514s4.388571 32.709486 14.511543 43.008a164.161829 164.161829 0 0 0 28.862171 21.035886l207.316115 57.724343a61.264457 61.264457 0 0 0 23.405714 3.203657 9.172114 9.172114 0 0 0 3.437714-9.537829V439.793371L204.8 362.554514v300.544z m0-331.8784l298.1888 82.183315 117.3504-32.329143-299.549257-82.563657z m314.719086-79.520914a119.442286 119.442286 0 0 0-16.384-2.925714 121.490286 121.490286 0 0 0-16.822857 3.189028l-86.952229 24.429715 300.500114 82.812342 101.566172-27.984457z m282.9312 379.845486V362.554514h-0.087772l-88.020114 24.4736v130.530743l-58.031543 16.003657v-130.369828l-132.534857 36.893257v310.842514a131.101257 131.101257 0 0 0 3.072 36.673829c3.8912 5.646629 23.186286-2.282057 23.186286-2.282057l186.294857-51.843658a155.384686 155.384686 0 0 0 53.774628-25.234285c14.467657-14.716343 12.346514-76.6976 12.346515-76.6976z"
                          fill="#1A8EFF" p-id="7788"></path>
                </svg>
                <h2>放心递用户登录</h2>
            </el-form-item>
            <el-form-item prop="username">
                <el-input v-model="login_form.username" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item prop="keyword">
                <el-input v-model="login_form.keyword" placeholder="请输入密码" show-password></el-input>
            </el-form-item>
            <el-form-item class="btn_line">
                <el-button type="primary" @click="onSubmit('login_form')" class="login_btn">登录</el-button>
            </el-form-item>
            <el-form-item style="margin-bottom: 0">
                <a href="/users/register" class="a_forget_keyword">忘记密码？</a>
                <a href="/users/register" class="a_forget_keyword">尚未注册？</a>
            </el-form-item>
        </el-form>
    </el-card>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='users/js/login.js') }}"></script>
</html>