<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新用户注册</title>
    <link rel="icon" href="{{ url_for('static', filename='img/theme.png') }}">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='users/css/register.css') }}">
</head>
<body>
<div id="user_register" class="container">
    <el-card class="register_card">
        <el-form :model="register_form" ref="register_from" class="form" label-width="0px" :rules="register_rules"
                 status-icon>
            <el-form-item class="header">
                <svg t="1608088953057" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="7787" data-spm-anchor-id="a313x.7781069.0.i3" width="200"
                     height="200">
                    <path d="M512 1024a512 512 0 1 1 512-512 512 512 0 0 1-512 512zM204.8 663.098514s4.388571 32.709486 14.511543 43.008a164.161829 164.161829 0 0 0 28.862171 21.035886l207.316115 57.724343a61.264457 61.264457 0 0 0 23.405714 3.203657 9.172114 9.172114 0 0 0 3.437714-9.537829V439.793371L204.8 362.554514v300.544z m0-331.8784l298.1888 82.183315 117.3504-32.329143-299.549257-82.563657z m314.719086-79.520914a119.442286 119.442286 0 0 0-16.384-2.925714 121.490286 121.490286 0 0 0-16.822857 3.189028l-86.952229 24.429715 300.500114 82.812342 101.566172-27.984457z m282.9312 379.845486V362.554514h-0.087772l-88.020114 24.4736v130.530743l-58.031543 16.003657v-130.369828l-132.534857 36.893257v310.842514a131.101257 131.101257 0 0 0 3.072 36.673829c3.8912 5.646629 23.186286-2.282057 23.186286-2.282057l186.294857-51.843658a155.384686 155.384686 0 0 0 53.774628-25.234285c14.467657-14.716343 12.346514-76.6976 12.346515-76.6976z"
                          fill="#1A8EFF" p-id="7788"></path>
                </svg>
                <h2>新用户注册</h2>
            </el-form-item>
            <el-form-item prop="username">
                <el-input v-model="register_form.username" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item prop="keyword">
                <el-input v-model="register_form.keyword" placeholder="请输入密码" show-password></el-input>
            </el-form-item>
            <el-form-item prop="checkpass">
                <el-input v-model="register_form.checkpass" placeholder="请确认密码" show-password></el-input>
            </el-form-item>
            <el-form-item prop="name">
                <el-input v-model="register_form.name" placeholder="请输入姓名"></el-input>
            </el-form-item>
            <el-form-item class="btn_line">
                <el-button type="primary" @click="onSubmit('register_from')" class="register_btn">注册</el-button>
            </el-form-item>
            <el-form-item style="margin-bottom: 0">
                <a href="/users/login" class="already_have">已有账户？</a>
            </el-form-item>
        </el-form>
    </el-card>
</div>


<script src="{{ url_for('static', filename='src/js/base64.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='users/js/register.js') }}"></script>
</body>
</html>